.bg-beneficios {
    background-image: url("../../../public/assets/images/Teleconsulta\ 2.png");
    background-position: center;
    background-size: cover;
    width: 500px;
    height:500px;
    
  }
  